<!DOCTYPE HTML>
<html>
	<head>
		<title>DiversiFind</title>

    <link rel="shortcut icon" href="{{url_for('static', filename='images/diversify_logo2.png')}}"type="image/png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type= "text/css" href= "static/styles/custom.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	</head>
	<body class="login-body">
    {% if msg %}
      <div class="alert alert-warning alert-dismissible fade show mx-auto" role="alert">
        <strong>Username or password is incorrect.</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <div class="login-container">
      <div class="login-form">
        <h1>Login</h1>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="Username" class="login-btn" required>
          <input type="password" name="password" placeholder="Password" class="login-btn" required>
          <div class="submit-border login-btn">
            <button type="submit"><div class="submit-text">Submit</div></button>
          </div>
        </form>
        <br/>
        <p><a class="login-url" href="{{url_for('signUp')}}">Don't have an account? Sign up</a></p>
      </div>
    </div>
	</body>
</html>